@{
    ViewBag.Title = "About";
}
<h2 class="text-center">@ViewBag.Title</h2>


<hr />
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h5 class="text-body">
            Coming to PNG Jewelry Center, customers will experience an interesting shopping space, business a variety of high-end jewelry products such as gold, silver, gemstones, PNG, SJC gold bars and a professional sales team. PNG believes that this will definitely be a reliable jewelry shopping destination, meeting the increasing needs of customers, and also an effective span to help PNG to better serve shopping needs. beauty of Vietnamese consumers nationwide.
        </h5>

    </div>
    <div class="col-2"></div>
</div>
